<h1>Stupid coaching</h1>
<blockquote class="blockquote">
  <h2><%= @question%></h2>
  <h3 class="blockquote-footer">You</h3>
</blockquote>
<hr>
<blockquote class="blockquote">
  <h2><%= @answer%></h2>
  <h3 class="blockquote-footer">Your coach</h3>
</blockquote>
<hr>
<%= link_to "Ask another thing", ask_path, class: "btn btn-primary", id: "1"%>
