<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <h1 class="text-center">Stupid Coaching</h1>
    <p class="text-center">Ask your coach anything</p>
    <form action="/answer" class = "form-inline ">
      <div class="mx-auto" style="width: 300px;">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
